@font-face {
  font-family: "iconfont"; /* Project id 4442082 */
  src: url('iconfont.woff2?t=1741230355954') format('woff2'),
       url('iconfont.woff?t=1741230355954') format('woff'),
       url('iconfont.ttf?t=1741230355954') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shujufenxi:before {
  content: "\e6e3";
}

.icon-yunwei:before {
  content: "\e6e9";
}

.icon-jisuanjikaifa:before {
  content: "\e72e";
}

.icon-shujukuyongwanqingdan:before {
  content: "\e6eb";
}

.icon-tubiao_xuqiu:before {
  content: "\e63c";
}

.icon-lichengbei:before {
  content: "\e718";
}

.icon-xuqiuliebiao:before {
  content: "\e6a3";
}

.icon-xuqiuliebiao1:before {
  content: "\e638";
}

.icon-xuqiu:before {
  content: "\e641";
}

.icon-baobiao:before {
  content: "\e6de";
}

.icon-jindutibao:before {
  content: "\e6dc";
}

.icon-weikaishi:before {
  content: "\e6d2";
}

.icon-jinhangzhong:before {
  content: "\e6d3";
}

.icon-yiwancheng1:before {
  content: "\e6d5";
}

.icon-xiangmujiexiang:before {
  content: "\e6d6";
}

.icon-yewushouye:before {
  content: "\e6d8";
}

.icon-yanqi:before {
  content: "\e6d9";
}

.icon-yanqirenwu:before {
  content: "\e6da";
}

.icon-renwutiaozheng:before {
  content: "\e6db";
}

.icon-a-huaban4:before {
  content: "\e632";
}

.icon-relieve:before {
  content: "\e9ba";
}

.icon-relieve-full:before {
  content: "\e9bb";
}

.icon-a-lujing11:before {
  content: "\e601";
}

.icon-guding:before {
  content: "\e698";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-shuaxin:before {
  content: "\e631";
}

.icon-xiaolian:before {
  content: "\ec80";
}

.icon-link:before {
  content: "\e678";
}

.icon-shaixuan2:before {
  content: "\e6b3";
}

.icon-shaixuan1:before {
  content: "\e691";
}

.icon-shenhe:before {
  content: "\e69a";
}

.icon-biaoji2:before {
  content: "\e728";
}

.icon-un-read:before {
  content: "\e68b";
}

.icon-24gl-swapVertical3:before {
  content: "\eb75";
}

.icon-tongzhi1:before {
  content: "\e694";
}

.icon-tubiao-yuanban-134:before {
  content: "\e6c2";
}

.icon-info-read:before {
  content: "\e6cc";
}

.icon-tianjia:before {
  content: "\e6a1";
}

.icon-shaohouchuli:before {
  content: "\e695";
}

.icon-quanbubiaoweiyidu:before {
  content: "\e824";
}

.icon-biaoji:before {
  content: "\e697";
}

.icon-fuwuqi:before {
  content: "\e98e";
}

.icon-shujuku:before {
  content: "\e997";
}

.icon-tongji:before {
  content: "\e628";
}

.icon-quick-bi:before {
  content: "\e729";
}

.icon-shiyongjiaocheng:before {
  content: "\e600";
}

.icon-suanfa2:before {
  content: "\e76e";
}

.icon-shujuzichanguanli1:before {
  content: "\e604";
}

.icon-icon_home_guide:before {
  content: "\e658";
}

.icon-dingshirenwu6:before {
  content: "\e73a";
}

.icon-liebiaosousuo:before {
  content: "\e714";
}

.icon-return:before {
  content: "\e6ba";
}

.icon-develope:before {
  content: "\e87f";
}

